.integrations-container {
    padding: 2rem;
    text-align: center;
    font-family: sans-serif;
    background-color: #0f172a;;
  }
  
  .integrations-container h2 {
    font-size: 1.8rem;
    color: #58509c;
  }
  
  .subtitle {
    font-size: 1.1rem;
    color: #5a4978;
    margin-bottom: 2rem;
  }
  
  .logo-grid {
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    align-items: center;
  }
  
  .logo-card {
    width: 120px;
    background: #343a48;;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 4px 14px rgba(70, 39, 134, 0.05);
    transition: transform 0.3s;
    
  }
  
  .logo-card:hover {
    transform: scale(1.05);
    background-color: rgb(54, 54, 93);
  }
  
  .logo-card img {
    max-width: 80px;
    max-height: 50px;
    object-fit: contain;
    margin-bottom: 0.5rem;
    margin: auto;
  }
  
  .logo-card p {
    font-size: 0.95rem;
    color: #b9b0b0;
  }
  
  /* Responsive: Small devices */
  @media (max-width: 650px) {
    .logo-card {
      padding: 0.8rem;
    }
  
    .logo-card img {
      max-width: 60px;
      max-height: 40px;
    }
  
    .logo-card p {
      font-size: 0.85rem;
    }
  }
  